function Main.main 5
    call PlayerNameScreen.new 0
    pop local 1
    push constant 1
    neg
    pop local 0
    call StartScreen.printStartMessage 0
    pop temp 0
    call StartScreen.getKey 0
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push local 1
    call PlayerNameScreen.printPlayerMessage 1
    pop temp 0
    push local 1
    push constant 1
    call PlayerNameScreen.getPlayerName 2
    push local 1
    push constant 2
    call PlayerNameScreen.getPlayerName 2
    call GameState.new 2
    pop local 2
    push local 2
    push constant 1
    call GameState.getPlayer 2
    push local 2
    push constant 2
    call GameState.getPlayer 2
    call Render.new 2
    pop local 3
    push local 1
    push constant 1
    call PlayerNameScreen.getPlayerName 2
    push local 1
    push constant 2
    call PlayerNameScreen.getPlayerName 2
    call Input.new 2
    pop local 4
    call Screen.clearScreen 0
    pop temp 0
label Main_0
    push local 0
    not
    if-goto Main_1
    push local 4
    call Input.runTurn 1
    pop temp 0
    push local 3
    call Render.draw 1
    pop temp 0
    goto Main_0
label Main_1
    push constant 0
    return