function Main.main 1
push constant 0
push constant 0
call Player.new 2
pop local 0
push local 0
push constant 100
call Player.draw 2
pop temp 0
push local 0
push constant 500
call Player.draw 2
pop temp 0
push constant 0
return
function Main.initGameLoop 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
