function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Player.initBitMap 0
push argument 0
pop pointer 0
push constant 0
return
function Player.draw 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 4064
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32764
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32764
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32288
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32288
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32288
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32764
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 32764
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4600
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4600
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4600
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 3
call Memory.poke 2
pop temp 0
push constant 0
return
