function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 25
call String.new 1
pop this 1
push pointer 0
return
function Player.initBitMap 0
push argument 0
pop pointer 0
push constant 0
return
function Player.draw 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push this 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 4100
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4100
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4100
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4100
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4224
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 12416
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 28800
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 12160
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28544
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 28544
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3968
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 28544
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 28544
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 28800
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 12416
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 4416
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 544
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 1040
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 4
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4224
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4288
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4320
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4272
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4242
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 33
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4338
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 4272
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 4272
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 4320
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 4288
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 10368
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 17408
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 32256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 1
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
